/.project
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
dev
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
/.idea
/.rake_tasks~
vendor/
*.DS_Store