/.project
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/adiwgJson_full_test_example.json
test/adiwgJson_min_test_example.json
test/adiwgJson_template_data.json
test/dev.rb
tmp
*.bundle
*.so
*.o
*.a
mkmf.log

